::-webkit-scrollbar {
    display: none;
}

.property-details-container {
    gap: 20px;
    padding: 20px;
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;
}

.image-gallery {
    position: relative;
    display: flex;
    height: 500px;
    justify-content: space-between;
}

.main-image {
    position: relative;
    width: 55%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #181818;
}
#prev-image{
    margin-left: 20px;
}
#next-image{
    margin-right: 20px;
}

.thumbnails {
    display: flex;
    width: 13%;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.thumbnail {
    width: 160px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    margin: 5px;
}

.thumbnail:hover {
    scale: 0.9;
}

.description-place{
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    overflow: auto;
}

.property-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.badge{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: rgb(10, 128, 31);
    margin-right: 4px;
    display: inline-block;
}
.status-details{
    display: flex;
  align-items: center;
}
.important-info{
    display: flex;
    justify-content: space-between;
}
.important-info-items{
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: flex-start;
    margin-right: 20px;

}
.important-info-items i {
    font-size: 25px;
    color: #282828;
    margin-right: 10px;
}
.important-info-items-data{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-evenly;
    font-weight: 200;
}
.important-info-items-data h3 , .important-info-items-data p {
    margin: 0;
}
.important-info-items-data h3 {
    font-weight: 400;
}
.secondary-info {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    color: #2b2b2b;
    margin-bottom: 10px;
}
.secondary-info-itmes {
    display: flex;
    align-items: center;
    height: 30px;
}
.secondary-info-itmes h4{
    font-weight: 600;
    margin-right: 5px;
}
.secondary-info-itmes p{
    font-weight: 200;
}
.property-info h1 {
    margin: 10px 0;
}
.property-info .p1{
    display: flex;
    justify-content: space-between;
}

.property-info .property-type {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.property-info .property-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.property-info .address {
    font-size: 16px;
    color: #888;
}

.property-additional-info {
    margin-top: 20px;
}

.property-additional-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.property-actions {
    margin-top: 20px;
}

.ask-question-btn,
.share-home-btn {
    background-color: #ffffff;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 800;
    font-size: medium;
    font-family: "Outfit", sans-serif;
}

.ask-question-btn:hover,
.share-home-btn:hover {
    background-color: #1d1d1d;
    color: #fff;
}

.property-map iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
}


#loading {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.cardssection {
    width: 100%; /* Default width when the map is not visible */
    transition: width 0.3s ease;
}

#map {
    width: 0;
    height: 100vh; /* Ensure the map takes full height of the viewport */
    transition: width 0.3s ease;
    display: none; /* Initially hidden */
}

#map.show {
    width: 50%;
}

