:root {
    --primary-color: #ffbc1c;
    --secondary-color: #242f3e;
    --text-color: #fff;
    --bg-color: #f5f5f5;
    --border-color: #dcdcdc;
    --hover-bg-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-color: #de0606;
    --secondary-text-color: grey;
    --map-border-color: #ffffff;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

svg {
    font-family: "Outfit", sans-serif;
}
svg text {
    font-family: "Outfit", sans-serif;
    fill: #333; /* Optional: Set text color */
    font-size: 16px; /* Optional: Set text size */
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbaritems{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter {
    position: relative;
    display: flex;
    height: 100%;
}
.items-navbar , .price-item , .superficie-item , .type-item{
    height: 100%;
    display: flex;
    align-items: center;
}
.filter-button{
    padding: 10px 12px;
    /* color: var(--secondary-color); */
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}
#cancel-filter-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    left: 65%;
}
#cancel-filter-btn button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    animation: highlight 1.5s ease-out; 
    transition: 0.5s;
}

@keyframes highlight {
    0% {
        background-color: var(--primary-color);
      opacity: 0%;
      bottom : -100%;
      margin-bottom: 60px;

    }
    100% {
    background-color: #333;
    opacity: 100%;
    margin-bottom: 0px;
    }

  }
.dropdown-price , .dropdown-superficie , .dropdown-type{
    display: none;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 12px 16px;
    border: 1px solid #ddd;
    height: 240px;
    left: -10%;
    top: 100%;
    border-radius: 20px;
}
.dropdown-superficie{
    left: 5%;
}

.dropdown-type{
    left: 43%;
    width: 150px;
}

.input-price-section , .input-superficie-section , .input-type-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input-price-section i , .input-superficie-section i , .input-type-section i{
    margin: 10px;
}

.dropdown-price select , .dropdown-superficie select , .dropdown-type select{
    width: 100px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 10px 5px;
    font-family: 'Outfit';
    font-weight: 600;
    border: 2px solid black;
}

.price-item:hover + .dropdown-price, .dropdown-price:hover {
    display: block;
}
.superficie-item:hover + .dropdown-superficie, .dropdown-superficie:hover {
    display: block;
}
.type-item:hover + .dropdown-type, .dropdown-type:hover ,.dropdown-type select:hover{
    display: block;
}

.dropdown-price select:hover , .dropdown-superficie select:hover , .dropdown-type select:hover{
    cursor: pointer;
}


.close-dropdown {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}
button .fa-solid {
    font-size: large;
}
#map {
    height: calc(100vh - 110px);
    width: auto;
    position: relative;
}
.navbarmaps{
    width: 100%;
    height: 7vh;
    background-color: white;
    z-index: 100;
    position: absolute;
    border-bottom: 5px solid green;
}
#sidebar {
    top: 0;
    left: 0;
    height: calc(100vh - 110px);
    width: 850px;
    float: left;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    border-left: 1px solid #ccc;
    backdrop-filter: blur(10px);
    z-index: 100;
    padding-bottom: 70px;
}
#loading-spinner {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
#search {
    position: relative;
    width: 250px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 51px;
    /* box-shadow: 0 0 10px #6e6e6e; */
    z-index: 100;osition: relative;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    /* box-shadow: 0 0 10px #6e6e6e; */
    z-index: 100;
}
.searchbar{
    position: relative;
}
.searchbar svg{
    width: 27px;
}
.searchicon {
    width: 40px;
    height: 40px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    right: 0;
    margin: 3px;
    z-index: 100;
    border-radius: 50%;
}
.custom-button , .navigation button {
    padding: 10px 12px;
    background: #ffbc1c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #787878;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}

.place {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    transition: background 0.3s;
}
.place:hover {
    background-color: #e0e0e0;
}
.status-details{
    display: flex;
  align-items: center;
}
.place-details-list{
    height: 230px;
    background-size: cover !important;
    background-position: center !important;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0;
    border-top: 10px solid green;
}
.place-details-list h2{
    font-size: xx-large;
}
.place-details-list-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.place-details-list-info p{
    width: 320px;

}
.more-details-button{
    padding: 10px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    transition:  0.3s;
    font-family: "Outfit", sans-serif;
    font-size: large;
}
.popus{
    border: 5px solid #ffbc1c;
}
.more-details-button-marker{
    padding: 5px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    transition:  0.3s;
    font-family: "Outfit", sans-serif;
    font-size: medium;
    width: 100%;
}
input[type=text]{
    border: 2px black solid;
    font-family: "Outfit", sans-serif;
    font-size: large;
    outline: none;
}
input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffbc1c;
    outline: none;
    height: 8px;
    border-radius: 20px;
    animation: 0.5s;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffbc1c;
    border: 3px white solid;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px black;

}
input[type=range]:active::-webkit-slider-thumb{
    background-color: #ffbc1c;
    height: 25px;
    width: 25px;
}
.range-section{
    position: relative;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border-radius: 0 0 10px 30px; */
    padding-top: 25px;
    margin-top: -30px;
    z-index: 50;
    padding-bottom: 4%;
    border-radius: 0 0 10px 10px;
}
.range-section input{
    width: 50%;
}
.place-details{
    width: 330px;
    /* margin: auto; */
    margin-bottom: auto;
    height: 380px;
    font-family: "Outfit", sans-serif;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ddcaca;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    margin: 10px;

}
.place-details-for-map{
    width: 385px;
    height: 420px;
    font-family: "Outfit", sans-serif;
    box-shadow: 0 0 10px #ddcaca;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    margin: 1%;
}
.image-container-for-map {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.image-container-for-map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.place-details img{
    width: 50%;
    height: 65vh;
    object-fit: cover;
    border-right: #ffbc1c solid 7px;
}
.topbarinfo{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    
    background-color: #d7d7d7;
}
#place-name{
    font-size: x-large;
}
.back-button{
    padding: 10px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: larger;
    width: 100px;
}
.status{
    height: 20px;
    margin: 10px 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    justify-content: space-between;
}
.pricesection{
    height: 20px;
    margin: 10px 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.pricesection p {
    font-size: x-large;
    font-weight: 800;
}

.badge{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: rgb(10, 128, 31);
    margin-right: 4px;
    display: inline-block;
}
.details-section{
    font-size: larger;
}
.centrebarinfo{
    display: flex;
    gap: 50px;
    padding: 20px;
}
.sections{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.sections p{
    margin: 3px;
}
.nameofinfo{
    font-size: x-large;
    margin: 0 0 7px;
    font-weight: 500;
}
.text-marker {
    position: absolute;
    padding: 0px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.superficie {
    background-color: #de0606; /* Red background */
    font-size: 15px; /* Smaller font size */
    width: 70%; /* Full width of the parent div */
    padding: 3px 0; /* Padding for better visual */
    border-top-left-radius: 50px; /* Rounded top corners */
    border-top-right-radius: 50px; /* Rounded top corners */
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

    
}

.price {
    background-color: #ffffff; /* White background */
    font-size: 16px; /* Larger font size */
    width: 100%; /* Full width of the parent div */
    padding: 5px 0; /* Padding for better visual */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: solid 3px #ffbc1c; /* Rounded bottom corners */
}
.price::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffbc1c; /* Same color as the border of the price div */
    position: absolute;
    bottom: -10px; /* Position it below the price div */
    left: 50%;
    transform: translateX(-50%); /* Center the triangle */
}
.info-window {
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.info-details {
    width: 100%;
    text-align: left;
}
.info-details .window-price{
    font-size: x-large;
}

.info-details p {
    margin: 5px 0;
}

.info-window button {
    background-color: #ffbc1c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.info-window button, .place-details-info button {
    margin: 10px;
    padding: 5px 15px;
    background-color: #de0606;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}



.info-window img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 15px #ffbc1c;
    margin-bottom: 10px;
}

.info-window .info-details {
    font-size: 17px;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    margin-left: 20px;
}





#prev-image, #next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#prev-image {
    left: 0;
}

#prev-image , #next-image{
    border-radius: 100px;
    right: 0;
    margin: 0 16px;
    height: 40px;
    width: 40px;
}
#next-image {
    right: 0;
}

.place-details-info{
    margin: 0 20px;
    display: flex;
    justify-content: start;
    font-size: 16px;
    font-weight: 400;
  gap: 15px;
}
.place-details-info p{
    margin: 0;
}
button .fa-solid{
    font-size: x-large;
}
.place-details-info .fa-solid{
    width: 30px;
    color: #ffbc1c;
}
.plussection{
    display: flex;
  margin: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.plussection p  , .status .date{
    font-weight: 200;
}
#filters {
    background-color: white;
    border: 6px solid #dcdcdc;
    border-bottom: 8px solid #ffbc1c;
    border-radius: 20px;
    padding: 2%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding-top: 4%;
    margin-top: -5%;
    width: 94%;
    position: relative;
    z-index: 100;
    
}

.filter-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}



.filter-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 50%;
}

.filter-section input:focus {
    border-color: #ffbc1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#filters .custom-button {
    padding: 10px 15px; 
    background: #ffbc1c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #787878;
    /* margin: 0 1%; */
    cursor: pointer;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    width: 50%;
    margin: 0;
}
.toggle-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    margin-bottom: 20px;

}
.toggle-filters .custom-button{
    margin: 0;
    border-radius: 0 0 10px 10px;
}


#place-details {
    margin: 30px 10px;
    padding: 0 0 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #b3b3b3;
}

#image-container {
    position: relative;
    width: 100%;
    height: 260px; /* Ensure the container has a height */
    overflow: hidden;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--next-image);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

#image-container.hover::before {
    opacity: 1;
}


#prev-image, #next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#prev-image {
    left: 0;
}

#prev-image , #next-image{
    border-radius: 100px;
    right: 0;
    margin: 0 16px;
    height: 40px;
    width: 40px;
}
#next-image {
    right: 0;
}


button .fa-solid{
    font-size: x-large;
}
.place-details-info .fa-solid{
    width: 30px;
    color: #ffbc1c;
}

.more-details-btn{
    padding: 10px 12px;
    /* color: var(--secondary-color); */
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 16px;

}
.place-details-info button{
    
}
.bottom-section{
    position: absolute;
    bottom: 0;
    right: 75%;
    z-index: 100;
    /* background-color: rgb(255 255 255); */
    backdrop-filter: blur(10px);
    width: 30%;
    height: 71px;
    border: 2px solid white;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(50%);
}
.bottom-section button , .navigation button{
    box-shadow: none;
    background-color: white;
    color: rgb(52, 52, 52);
    border: 2px gray solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 190px;
}
.bottom-section button:hover {
    color: white;
    border-color: white;
}
.bottom-section button.active {
    color: white;
    background-color: #ffbc1c;
    border-color: white;
}
.navigation{
    position: absolute;
    right: 10px;
    top: 127px;
    height: 47px;
    gap: 12px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.navigation button{
    margin: 0 20px;
    width: 130px;
    font-family: "Outfit", sans-serif;
    height: 40px;
    transition: 0.5s;
    background: rgb(0 0 0 / 70%);
    border: 2px solid #dcdcdc;
    backdrop-filter: blur(5px);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: 140px;
    height: 56px;
}

#toggle-drawing{display: none;}

#school-filters {
    position: absolute;
    bottom: 10px;
    left: 860px;
    z-index: 1000;
    width: 140px;
    height: 56px;
}

#school-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
    border: 1px solid #ddd;
}

#school-dropdown .close-btn {
    text-align: right;
    cursor: pointer;
}


#school-toggle {
    background: rgb(0 0 0 / 70%);
    border: 2px solid #dcdcdc;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#school-panel {
    display: none;
    background: white;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border: 3px solid #191919;

}

#nearby-filters {
    position: absolute;
    bottom: 66px;
        left: 860px;
    z-index: 100;
    width: 140px;
    height: 56px;
}

#nearby-toggle {
    background: rgb(0 0 0 / 70%);
    border: 2px solid #dcdcdc;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 5px;
    width: 170px;
    background-color: white;
    border: 3px solid #191919;
    border-radius: 10px;
    padding: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content div {
    margin-bottom: 15px;
    font-size: large;
    display: flex;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-content div i{
    width: 20px;
}

.close-btn {
    text-align: right;
    cursor: pointer;
}
.gm-style .gm-style-iw-c{
     padding: 0 !important;
     border-radius: 25px;
     width: 260px;
}

.gm-style-iw-chr {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: visible;
    background: none;
    position: absolute;
    z-index: 100;
    left: 80%;
    top: 0%;
}

@media screen and (min-width: 2000px) {
    #sidebar{
        width: 1200px;

    }
    .place-details-for-map {
        width: 362px;
    }
    #school-filters{
        left: 1215px;
    }
    #nearby-filters{
        left: 1215px;
    }
}