:root {
    --primary-color: #ffbc1c;
    --secondary-color: #242f3e;
    --text-color: #fff;
    --bg-color: #f5f5f5;
    --border-color: #dcdcdc;
    --hover-bg-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-color: #de0606;
    --secondary-text-color: grey;
    --map-border-color: #ffffff;
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    height: 10vh;
    width: 100%;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.logo img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.filter{
    margin: 0 20px;
}
.filter-button{
    padding: 10px 12px;
    /* color: var(--secondary-color); */
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}
button .fa-solid {
    font-size: large;
}
#map {
    height: 90vh;
    width: 70%;
    position: relative;
}
.navbarmaps{
    width: 100%;
    height: 7vh;
    background-color: white;
    z-index: 100;
    position: absolute;
    border-bottom: 5px solid green;
}
#sidebar {
    top: 0;
    left: 0;
    height: 90%;
    width: 30%;
    float: left;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    background: white;
    border-left: 1px solid #ccc;
    backdrop-filter: blur(10px);
    z-index: 100;
}
#search {
    position: relative;
    width: 250px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 51px;
    /* box-shadow: 0 0 10px #6e6e6e; */
    z-index: 100;osition: relative;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    /* box-shadow: 0 0 10px #6e6e6e; */
    z-index: 100;
}
.searchbar svg{
    width: 27px;
}
.searchicon {
    width: 40px;
    height: 40px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23%;
    margin-left: 206px;
    z-index: 100;
    border-radius: 50%;
}
.custom-button , .navigation button {
    padding: 10px 12px;
    background: #ffbc1c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #787878;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
}
.custom-button:hover {
    background: #ffbc1c;
    
}
.place {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    transition: background 0.3s;
}
.place:hover {
    background-color: #e0e0e0;
}
.place-details-list{
    height: 230px;
    background-size: cover !important;
    background-position: center !important;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0;
    border-top: 10px solid green;
}
.place-details-list h2{
    font-size: xx-large;
}
.place-details-list-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.place-details-list-info p{
    width: 320px;

}
.more-details-button{
    padding: 10px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    transition:  0.3s;
    font-family: "Outfit", sans-serif;
    font-size: large;
}
.more-details-button:hover {
    background: #ffbc1c;    
}
.popus{
    border: 5px solid #ffbc1c;
}
.more-details-button-marker{
    padding: 5px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    transition:  0.3s;
    font-family: "Outfit", sans-serif;
    font-size: medium;
    width: 100%;
}
input[type=text]{
    border: 2px black solid;
    font-family: "Outfit", sans-serif;
    font-size: large;
    outline: none;
}
input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffbc1c;
    outline: none;
    height: 8px;
    border-radius: 20px;
    animation: 0.5s;
}
input[type=range]::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffbc1c;
    border: 3px white solid;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px black;

}
input[type=range]:active::-webkit-slider-thumb{
    background-color: #ffbc1c;
    height: 25px;
    width: 25px;
}
.range-section{
    position: relative;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border-radius: 0 0 10px 30px; */
    padding-top: 25px;
    margin-top: -30px;
    z-index: 50;
    padding-bottom: 4%;
    border-radius: 0 0 10px 10px;
}
.range-section input{
    width: 50%;
}
.place-details{
    width: 80%;
    margin: auto;
    border: 7px solid #d7d7d7;
    box-shadow: 0 0px 30px rgb(176, 176, 176);
    height: 80vh;
    font-family: "Outfit", sans-serif;

}
.place-details img{
    width: 50%;
    height: 65vh;
    object-fit: cover;
    border-right: #ffbc1c solid 7px;
}
.topbarinfo{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    
    background-color: #d7d7d7;
}
#place-name{
    font-size: x-large;
}
.back-button{
    padding: 10px;
    background: #ffbc1c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: larger;
    width: 100px;
}
.status , .pricesection{
    height: 20px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.pricesection p {
    font-size: x-large;
    font-weight: 800;
}

.badge{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: rgb(10, 128, 31);
    margin-right: 4px;
}
.details-section{
    font-size: larger;
}
.centrebarinfo{
    display: flex;
    gap: 50px;
    padding: 20px;
}
.sections{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.sections p{
    margin: 3px;
}
.nameofinfo{
    font-size: x-large;
    margin: 0 0 7px;
    font-weight: 500;
}
.text-marker {
    position: absolute;
    padding: 0px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.superficie {
    background-color: #de0606; /* Red background */
    font-size: 15px; /* Smaller font size */
    width: 70%; /* Full width of the parent div */
    padding: 3px 0; /* Padding for better visual */
    border-top-left-radius: 50px; /* Rounded top corners */
    border-top-right-radius: 50px; /* Rounded top corners */
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

    
}

.price {
    background-color: #ffffff; /* White background */
    font-size: 16px; /* Larger font size */
    width: 100%; /* Full width of the parent div */
    padding: 5px 0; /* Padding for better visual */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: solid 3px #ffbc1c; /* Rounded bottom corners */
}
.price::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffbc1c; /* Same color as the border of the price div */
    position: absolute;
    bottom: -10px; /* Position it below the price div */
    left: 50%;
    transform: translateX(-50%); /* Center the triangle */
}
.info-window {
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.info-details {
    width: 100%;
    text-align: left;
}
.info-details .window-price{
    font-size: x-large;
}

.info-details p {
    margin: 5px 0;
}

.info-window button {
    background-color: #ffbc1c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.info-window button, .place-details-info button {
    margin: 10px;
    padding: 5px 15px;
    background-color: #de0606;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}



.info-window img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 15px #ffbc1c;
    margin-bottom: 10px;
}

.info-window .info-details {
    font-size: 17px;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    margin-left: 20px;
}





#prev-image, #next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#prev-image {
    left: 0;
}

#prev-image , #next-image{
    border-radius: 100px;
    right: 0;
    margin: 0 16px;
    height: 40px;
    width: 40px;
}
#next-image {
    right: 0;
}

.place-details-info{
    font-size: large;
    font-weight: 700;
    margin-left: 20px;

}
button .fa-solid{
    font-size: x-large;
}
.place-details-info .fa-solid{
    width: 30px;
    color: #ffbc1c;
}
.place-details-info button{
    
}
#filters {
    background-color: white;
    border: 6px solid #dcdcdc;
    border-bottom: 8px solid #ffbc1c;
    border-radius: 20px;
    padding: 2%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding-top: 4%;
    margin-top: -5%;
    width: 94%;
    position: relative;
    z-index: 100;
    
}

.filter-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}



.filter-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 50%;
}

.filter-section input:focus {
    border-color: #ffbc1c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#filters .custom-button {
    padding: 10px 15px; 
    background: #ffbc1c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #787878;
    /* margin: 0 1%; */
    cursor: pointer;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    width: 50%;
    margin: 0;
}
.toggle-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    margin-bottom: 20px;

}
.toggle-filters .custom-button{
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.custom-button:hover {
    background: #ffbc1c;
}
#place-details {
    margin: 30px 10px;
    padding: 0 0 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #b3b3b3;
}

#image-container {
    position: relative;
    width: 100%;
}

#image-container img {
    width: 100%;
    /* height: auto; */
    /* max-height: 200px; */
    height: 260px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    /* border-bottom: 7px solid #ffbc1c; */

}

#prev-image, #next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#prev-image {
    left: 0;
}

#prev-image , #next-image{
    border-radius: 100px;
    right: 0;
    margin: 0 16px;
    height: 40px;
    width: 40px;
}
#next-image {
    right: 0;
}

.place-details-info{
    font-size: large;
    font-weight: 700;
    margin-left: 20px;

}
button .fa-solid{
    font-size: x-large;
}
.place-details-info .fa-solid{
    width: 30px;
    color: #ffbc1c;
}

.more-details-btn{
    padding: 10px 12px;
    /* color: var(--secondary-color); */
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    position: absolute;
    margin: -52px 0px 0px 282px;
}
.place-details-info button{
    
}
.bottom-section{
    position: absolute;
    bottom: 0;
    right: 85%;
    z-index: 100;
    /* background-color: rgb(255 255 255); */
    /* backdrop-filter: blur(10px); */
    width: 30%;
    height: 71px;
    /* border: 2px solid white; */
    border-bottom: 0;
    /* border-radius: 20px 20px 0 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(50%);
}
.bottom-section button , .navigation button{
    box-shadow: none;
    background-color: white;
    color: rgb(52, 52, 52);
    border: 2px gray solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 190px;
}
.bottom-section button:hover {
    color: white;
    border-color: white;
}
.bottom-section button.active {
    color: white;
    background-color: #ffbc1c;
    border-color: white;
}
.navigation{
    position: absolute;
    width: 70%;
    right: 0;
    top: 10%;
    height: 7vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.navigation button{
    margin: 0 20px;
    width: 130px;
    font-family: "Outfit", sans-serif;
    height: 40px;
    transition: 0.5s;
}
.navigation button:hover{
    background-color: #ffbc1c;
    color: white;
    border-color: #ffffff;
    width: 135px;
    margin: 30px;
}

#school-filters {
    position: absolute;
    bottom: 10px;
    left: 31%;
    z-index: 1000;
    width: 140px;
    height: 56px;
}

#school-toggle {
    background: rgb(0 0 0 / 70%);
    border: 2px solid #dcdcdc;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#school-panel {
    display: none;
    background: white;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

#nearby-filters {
    position: absolute;
    bottom: 66px;
        left: 31%;
    z-index: 1000;
    width: 140px;
    height: 56px;
}

#nearby-toggle {
    background: rgb(0 0 0 / 70%);
    border: 2px solid #dcdcdc;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 5px;
    width: 170px;
    background-color: white;
    border: 5px solid #191919;
    border-radius: 10px;
    padding: 10px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content div {
    margin-bottom: 15px;
    font-size: large;
    display: flex;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-content div i{
    width: 20px;
}

.close-btn {
    text-align: right;
    cursor: pointer;
}
.gm-style .gm-style-iw-c{
     padding: 0 !important;
     border-radius: 25px;
     width: 260px;
}

.gm-style-iw-chr {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: visible;
    background: none;
    position: absolute;
    z-index: 100;
    left: 80%;
    top: 0%;
}